# git rm -r --cached filename.ext
# Ignore editor files
.vscode/

# Ignore temporary files
*.swp
*~

# Ignore cache


# Ignore local configuration files
.env
.env.*

# Ignore directories


# Ignore files
