# git rm -r --cached filename.ext
# Ignore editor files
.vscode/

# Ignore temporary files
*.swp
*~

# Ignore cache
npm-cache/
.cache/

# Ignore local configuration files
.env
.env.*

# Ignore directories
node_modules/
todo/

# Ignore files
package.json
tailwind.config.js
package-lock.json
.prettierrc
testing.js