button {
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eee;
  border: 0.5px solid #363945;
  width: 100%;
  box-sizing: border-box;
}
